﻿body{
	max-width:1000px;
	margin:0 auto;
	padding:0 10px;
}
a{
    text-decoration:none;
}
#navbarTop{
	font-size: 14px;
	padding: 5px 0;
	height:30px;
	background:#ededed;
}
#main{
	width: 100%;
	padding: 0;
	display: block;
	margin: 0 auto;
	max-width:1000px;
}
.adverti{
	float:right;
	width:65%;
	border: 1px black solid;
	height:100%;
}
.logo{
	float:left;
	height:100%;
	width:30%;
}
.user{
	float: right;
	height:95%;
}
.clear{
	clear:both
}
.link{
	background-color: #ddd;
	border-radius: 3px;
	color: #000;
	font-size:15px;
	font-weight:600;
	margin-right:8px;
	text-decoration: none;
	height:100%;
	width:100px;
	float:left;
	display: flex;
	align-items: center;
	justify-content: center;
}
.link:hover{
	background:#4267b2;
	color:#fff
}
#welcome{
	padding: 5px 0;
	height:200px;
	text-align:center;
}
.container{
	max-width: 1000px;
	margin: 0 auto;
	padding: 0;
	width:100%;
}
.link-trang{
    margin: 10px 0;
}
.content_header{
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin: 0 auto 30px;
    max-width:500px;
    text-align:center;
}
.content_body{
    border: 1px solid #ddd;
    max-width: 500px;
    padding: 0 5px;
    margin: 0 auto;
}
.content_title{
    font-size: 1.5rem;
    font-weight: 700;
}
.form{
    margin:0 auto;
    max-width:500px;
}	
.eroor{
    font-size:17px;
    line-height: 40px;
    border: 1px solid #ddd;
    background:#fbdcd6;
    color:#af1300;
    border-radius:5px;
    padding-left:10px;
    margin-bottom:10px;
    display:none;
}
#eroor{
    font-size:17px;
    line-height: 40px;
    border: 1px solid #ddd;
    background:#fbdcd6;
    color:#af1300;
    border-radius:5px;
    padding-left:10px;
    margin-bottom:10px;
    display:none;
}
.form-group{
    margin:10px auto;
    max-width:500px;
    width:100%;
}
.form-group .title{
    display:inline-block;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 10px;
    width:30%;
}
.form-group input{
    width: calc(70% - 4px);
    height: 30px;
    box-sizing: border-box;
    line-height: 40px;
    border: 1px solid #ddd;
    padding: 0 10px;
    display:inline-block;
    border-radius:5px;
}
.form-group a{
    margin-top: 20px;
    color: #2aa0d6;
}
.page_content_bottom{
    max-width:500px;
    margin:0 auto;
    border-top:1px solid #ddd;
    width:100%;
}
.register_recommend a{
    color:#055699;
    font-weight:500;
}
.btn_wrapper button{
    background: #1dd38f;
    color: #fff;
    border: 0;
    border-radius: 3px;
    height: 30px;
    width:100%;
    max-width: 500px;
    font-weight: 700;
}
.register_gg{
    text-align: center;
    background: #dd4b39;
    border-radius: 5px;
    padding: 5px 0;
}
.register_gg a{
    color: #fff;
    font-weight: 700;
    font-size: 16px;
}
.post-link{
	font-size: 1rem;
	font-weight: 700;
	line-height: 1.5;
	display: block;
}
.clearfix:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
ul li{
	list-style-type: none;
}
.link-trang a:after{
	content: " / ";
	display: inline-block;
	color: #333;
	margin:0 5px;
}
.form-code .title{
    display:inline-block;
}
.form-code #code{
    width: 20%;
    height: 35px;
    padding-left:10px;
    border-radius:5px;
}
.form-code #refresh{
    border: 0;
    border-radius: 4px;
    background-image: url('https://cdn2.iconfinder.com/data/icons/arrows-set-1/512/39-512.png');
    background-size: cover;
    background-color:white;
    height:35px;
    width:35px;
}
.form-code #mainCaptcha{
    display:inline-block;
    font-weight: 700;
    font-size: 25px;
    margin-left:10px;
    background: #f1f1f1;
    padding:1px 10px;
}
#verify_code{
    width: 150px;
    margin-left:20px;
}
#footer{
	background: #ededed;
	width: 100%;
	padding: 50px 0 20px;
	color: #000;
	border-top: 1px solid #d0d0d0;
	margin-top:20px;
	text-align: center;
}
#footer .footer-title{
	font-size: 12px;
}
.options{
	display:none;
	margin-left:25px;
	width:360px;
	height:95%;
	float:right;
}
.link-trang a:after{
	content: " / ";
	display: inline-block;
	color: #333;
	margin:0 5px;
}
.options ul{
	margin:0;
	list-style-type:none;
}
.options .links{
	background-color: #ddd;
	border-radius: 3px;
	color: #000;
	font-size:15px;
	font-weight:600;
	margin-right:8px;
	text-decoration: none;
	height:30px;
	width:100px;
	float:left;
	display: flex;
	align-items: center;
	justify-content: center;
}
.options li:last-child .links{
	margin-right:0;
}
.options img{
	display:none;
}
.options .links:hover{
	background-color: #0176c0;
	color:white;
}
/*------------menu----------------------*/
.dropbtn {
  color: black;
  padding: 7px 4px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #f1f1f1;}
.dropdown:hover .dropbtn {background-color: #3e8e41;color:white;}

@media screen and (max-width: 768px) {
	body{
		margin:2px;
	}
    .user{
        display:none;
    }
    .options img{
		display:block;
	}
	.options{
		display:inline-block;
		width:50px;
	}
	.options .menu{
		position: relative;
	}
	.options .menu .sub-menu{
		right: 0;
		position: absolute;
		width: 150px;
		background-color: #0176c0;
		padding: 5px 10px; 
		display:none;
	}
	.options .menu .sub-menu li{
		position: relative;
		border-bottom: solid 1px white;
	}
	.options .menu .sub-menu li:last-child{
		border-bottom: 0;
		margin-top:1px;
	}
	.options .menu li a{
		background:#0176c0;
		line-height: 20px;
		display: inline-block;
		color: white;
		float: none;
	}
}
@media screen and (max-width: 680px) {
    body {
        padding: 0 1px;
    }

    .logo {
        display: none;
    }

    .adverti {
        width: 100%;
    }
}
@media screen and (max-width: 430px) {
    #welcome {
        display: none;
    }
    .form-group .title{
        width:100%;
    }
    .form-group input{
        width:100%;
    }
    .form-group{
        height:auto;
    }
    .form-code .title{
        width:auto;
    }
    .form-code #code{
        width: 60px;
        height: 35px;
        padding-left:10px;
        border-radius:5px;
    }
    #verify_code{
        width:100%;
        margin:0;
    }
}
