body{
	max-width:1000px;
	margin:0 auto;
	padding:0 10px;
}
a{
    text-decoration:none;
}
#navbarTop{
	font-size: 14px;
	padding: 5px 0;
	height:30px;
	background:#ededed;
}
#main{
	width: 100%;
	padding: 0;
	display: block;
	margin: 0 auto;
	max-width:1000px;
}
.adverti{
	float:right;
	width:65%;
	border: 1px black solid;
	height:100%;
}
.logo{
	float:left;
	height:100%;
	width:30%;
}
.user{
	float: right;
	height:95%;
}
.clear{
	clear:both
}
.link{
	background-color: #ddd;
	border-radius: 3px;
	color: #000;
	font-size:15px;
	font-weight:600;
	margin-right:8px;
	text-decoration: none;
	height:100%;
	width:100px;
	float:left;
	display: flex;
	align-items: center;
	justify-content: center;
}
.link:hover{
	background:#4267b2;
	color:#fff
}
#welcome{
	padding: 5px 0;
	height:160px;
	text-align:center;
}
#wel{
	width: 1000px;
	height:200px;
	text-align:center;
	margin: 0 auto;
	font-size:25px;
}
#searchbar{
	margin-top: 10px;
	background: #CCFFFF;
}
.container{
	max-width: 1000px;
	margin: 0 auto;
	padding: 0;
}
#searchformTop{
	padding: 15px;
	border-radius: 5px;
	box-sizing: border-box;
}
.search_field_item{
	float: left;
	margin-left: 5px;
	margin-bottom: 0;
	width: 23%;
}
.search_field_item:first-child{
	width: 35%;
}
.search_field_item:last-child{
	width: 15%;
	float: right;
}
.search_field_item_label{
	display: block;
	font-size: .9rem;
	font-weight: 700;
	margin: 0 0 3px;
}

.btn_search_box{
	background: #ffa80f;
	color: #fff;
	border: 1px solid #ffa80f;
	height: 34px;
	border-radius: 3px;
	width: 100%;
	font-weight: 700;
}
.select-option{
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px;
	font-size: 12px;
	line-height: 22px;
	vertical-align: middle;
	border: 0;
	border-radius: 2px;
	box-shadow: none;
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	box-sizing: border-box;    
}
.lsrentroom{
	margin: 0;
	padding: 0;
}
.lsrentroom .post{
	border: 1px solid #d0d0d0;
    border-radius: 10px;
    margin-bottom: 10px;
	padding: 15px 7px;
}
.post-ava{
	display: block; 
	background-position: center center; 
	float: left;
	overflow: hidden;
	background-size: cover;
	position: relative;
	background-color: #f1f1f1;
	width: 140px;
	height: 140px;
}
.vip_star{
	top: 5px;
	right: 5px;
	z-index: 1;
	padding: 1px 5px;
	border-radius: 3px;
	font-size: 16px;
	pointer-events: none;
	float:right;
}
.view-num{
	z-index: 1;
	font-size: 16px;
	pointer-events: none;
	float:left;
}
.vip_star i{
	display: inline-block;
	width: 12px;
	height: 12px;
	background: url(https://phongtro123.com/images/star.svg) center no-repeat;
	background-size: contain;
}
.post-info{
	flex: 1;
	margin-left: 10px;
	float:left;
	width: calc(100% - 150px);
}
.post-info .title{
	margin: 0 0 5px;
	padding: 0;
}
.post-link{
	font-size: 1rem;
	font-weight: 700;
	line-height: 1.5;
	display: block;
}
.post-info .price{
	color: #37a344;
	font-size: 1.2rem;
	font-weight: 700;
	display: block;
	margin-bottom: 10px;
}
.post-info .clearfix .acreage{
	float: left;
	margin-right: 15px;
	padding: 0;
	color: #888;
	font-size: .9rem;
}
.post-info .clearfix .acreage .value{
	font-weight: 700;
	color: #555;
	margin-left: 3px;
}
.post-info .clearfix .time{
	float: right;
	color: #888;
	font-size: .95rem;
}
.clearfix:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
ul li{
	list-style-type: none;
}
#footer{
	background: #ededed;
	width: 100%;
	padding: 50px 0 20px;
	color: #000;
	border-top: 1px solid #d0d0d0;
	margin-top:20px;
	text-align: center;
}
#footer .footer-title{
	font-size: 12px;
}
.options{
	display:none;
	margin-left:25px;
	width:360px;
	height:95%;
	float:right;
}
.link-trang a:after{
	content: " / ";
	display: inline-block;
	color: #333;
	margin:0 5px;
}
.options ul{
	margin:0;
	list-style-type:none;
}
.options .links{
	background-color: #ddd;
	border-radius: 3px;
	color: #000;
	font-size:15px;
	font-weight:600;
	margin-right:8px;
	text-decoration: none;
	height:30px;
	width:100px;
	float:left;
	display: flex;
	align-items: center;
	justify-content: center;
}
.options li:last-child .links{
	margin-right:0;
}
.options img{
	display:none;
}
.options .links:hover{
	background-color: #0176c0;
	color:white;
}

/*------------menu----------------------*/
.dropbtn {
  color: black;
  padding: 7px 4px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #f1f1f1;}
.dropdown:hover .dropbtn {background-color: #3e8e41;color:white;}
@media screen and (max-width: 768px) {
    .user{
        display:none;
    }
	.options img{
		display:block;
	}
	.search_field_item{
		width: 25%;
	}
	.search_field_item:first-child{
		width: 30%;
	}
	.options{
		display:inline-block;
		width:50px;
	}
	.options .menu{
		position: relative;
	}
	.options .menu .sub-menu{
		right: 0;
		position: absolute;
		width: 150px;
		background-color: #0176c0;
		padding: 5px 10px; 
		display:none;
	}
	.options .menu .sub-menu li{
		position: relative;
		border-bottom: solid 1px white;
	}
	.options .menu .sub-menu li:last-child{
		border-bottom: 0;
		margin-top:1px;
	}
	.options .menu li a{
		background:#0176c0;
		line-height: 20px;
		display: inline-block;
		color: white;
		float: none;
	}
}
@media screen and (max-width: 680px) {
	body{
		padding:0 1px;
	}
	.logo{
		display:none;
	}
	.adverti{
		width:100%;
	}
    .user{
        display:none;
    }
	.search_field_item{
		width: 48%;
	}
	.search_field_item:first-child{
		width: 97%;
	}
	.search_field_item:last-child{
		width: 20%;
	}
}
@media screen and (max-width: 430px) {
	#welcome{
		display:none;
	}
    .user{
        display:none;
    }
	#searchbar{
		margin:0;
	}
	.search_field_item:last-child{
		width: 40%;
	}
	.post-info .clearfix .acreage{
		width:100%;
	}
	.post-info .clearfix .time{
		width:100%;
		float:left;
	}
	.vip_star{
		float:left;
		width:100%;
		margin-top:3px;
		padding:0;
	}
}
@media screen and (max-width: 320px) {
    .user{
        display:none;
    }
	.search_field_item:last-child{
		width: 50%;
	}
	.search_field_item{
		width: 100%;
	}
	.search_field_item:first-child{
		width: 100%;
	}
	.post-ava{
		left: calc(50% - 70px);
	}
	.post-info{
		width:100%;
	}
}
.center {
  text-align: center;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: #ddd;}
