﻿body{
	max-width:1000px;
	margin:0 auto;
	padding:0 10px;
}
a{
    text-decoration:none;
}
#navbarTop{
	font-size: 14px;
	padding: 5px 0;
	height:30px;
	background:#ededed;
}
#main{
	width: 100%;
	padding: 0;
	display: block;
	margin: 0 auto;
	max-width:1000px;
}
.adverti{
	float:right;
	width:65%;
	border: 1px black solid;
	height:100%;
}
.logo{
	float:left;
	height:100%;
	width:30%;
}
.user{
	float: right;
	height:95%;
}
.clear{
	clear:both
}
.link{
	background-color: #ddd;
	border-radius: 3px;
	color: #000;
	font-size:15px;
	font-weight:600;
	margin-right:8px;
	text-decoration: none;
	height:100%;
	width:100px;
	float:left;
	display: flex;
	align-items: center;
	justify-content: center;
}
.link:hover{
	background:#4267b2;
	color:#fff
}
#welcome{
	padding: 5px 0;
	height:160px;
	text-align:center;
}
.container{
	width:100%;
	max-width: 1000px;
	margin: 0 auto;
	padding: 0
}
.clearfix:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
ul li{
	list-style-type: none;
}
#footer{
	background: #ededed;
	width: 100%;
	padding: 50px 0 20px;
	color: #000;
	border-top: 1px solid #d0d0d0;
	margin-top:20px;
	text-align: center;
}
#footer .footer-title{
	font-size: 12px;
}
.link-trang a:after{
	content: " / ";
	display: inline-block;
	color: #333;
	margin:0 5px;
}
.table{
	width: 100%;
	max-width: 100%;
	margin-bottom: 20px;
	border-collapse: collapse;
	border: 1px solid #ddd;
}
.table>tbody>tr>td{
	padding: 10px;
	border: 1px solid #ddd;
}
.table .name{
	white-space: nowrap;
	font-weight: 700;
	background: #f9f9f9;
}
#motachitiet{
	padding: 15px;
	border: 1px solid #ddd;
	margin-bottom: 15px;
	line-height: 1.5;
	font-size: 17px;
}
#motachitiet .headline{
	font-weight: 700;
	font-size: 1.2rem;
	margin-bottom: 10px;
}
.title{
	font-weight: 700;
	font-size: 18px;
	margin-bottom: 10px;
}
#slider{
	margin: 0 0 20px;
    background: #fff;
    position: relative;
    zoom: 1;
}
#slider .flex-viewport{
    overflow: hidden; 
    position: relative;
}
.slides{
    width: 100%;
    background:#222;
    margin:0 auto;
    padding:0;
}
.slides li:first-child{
    display: block;
}
.slides li{
	height: 400px;
	background: #222;
	align-items: center;
	justify-content: center;
    width:100%;
    max-width: 680px; 
    margin: 0 auto; 
    display: none;
}
.item_image{
	max-height: 100%;
	height: 100%;
	object-fit: cover;
	margin:0 auto;
	width:100%;
}
.flex-direction-nav{
    position: absolute; 
    top: 50%; 
    width: 96%;
    margin: 0 2%;
    padding:0;
}
.flex-nav-prev{
    list-style: none;
    float: left;
}
.flex-nav-next{
    list-style: none; 
    float: right;
}
.flex-buttom{
    width: 40px;
    height: 40px;
    position: relative;
}
.flex-direction-nav a {
	text-decoration: none;
	display: block;
	margin: -20px 0 0;
	text-align: center;
	z-index: 10;
	overflow: hidden;
	cursor: pointer;
	color: rgba(0,0,0,.8);
	background: rgba(255,255,255,.7);
	outline: 0!important;
	font-size: 35px;
	font-weight: 900;
}
.flex-control-nav{
	width: 100%;
	position: absolute;
	bottom: -40px;
	text-align: center;
}
.flex-control-nav li{
	margin: 0 6px;
	display: inline-block;
	zoom: 1;
	list-style:none;
}
.flex-control-nav li a{
	width: 7px;
	height: 7px;
	background: #e8e8e8;
	display:block;
	cursor: pointer;
	text-indent: -9999px;
	-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.3);
	-moz-box-shadow: inset 0 0 3px rgba(0,0,0,.3);
	-o-box-shadow: inset 0 0 3px rgba(0,0,0,.3);
	box-shadow: inset 0 0 3px rgba(0,0,0,.3);
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}
.flex-control-nav li a.flex-active{
	background: #e73f3f;
}
.alert{
	color: #c09853;
	background-color: #fcf8e3;
	border-color: #faebcc;
	padding: 10px;
	margin-bottom: 20px;
	margin-top: 20px;
	line-height: 1.5;
}
.page-title{
    color:#f60;
    font-size: 1.5rem;
    font-weight: 700;
}
.phone{
    color: #4cae4c;
    font-weight: bold;
    font-size: 20px;
}
.price{
    color: #E74C3C;
    font-weight: bold;
}
a{
	color: #055699;
	text-decoration: none;
}
.input-group .title{
	font-weight: 700;
	font-size: 18px;
	margin: 10px 0;
}
.general-info{
	border:1px solid #ddd;
	padding:5px;
}
input{
	width:100%;
	height:25px;
}
.sm-titile{
	width:100px;
	font-size: 16px;
}
.general-info input{
}
.options{
	display:none;
	margin-left:25px;
	width:360px;
	height:95%;
	float:right;
}
.link-trang a:after{
	content: " / ";
	display: inline-block;
	color: #333;
	margin:0 5px;
}
.options ul{
	margin:0;
	list-style-type:none;
}
.options .links{
	background-color: #ddd;
	border-radius: 3px;
	color: #000;
	font-size:15px;
	font-weight:600;
	margin-right:8px;
	text-decoration: none;
	height:30px;
	width:100px;
	float:left;
	display: flex;
	align-items: center;
	justify-content: center;
}
.options li:last-child .links{
	margin-right:0;
}
.options img{
	display:none;
}
.options .links:hover{
	background-color: #0176c0;
	color:white;
}
/*------------menu----------------------*/
.dropbtn {
  color: black;
  padding: 7px 4px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #f1f1f1;}
.dropdown:hover .dropbtn {background-color: #3e8e41;color:white;}

@media screen and (max-width: 768px) {
	body{
		padding:0 1px;
	}
	.logo{
		display:none;
	}
	.adverti{
		width:100%;
	}
    .user{
        display:none;
    }
	.options img{
		display:block;
	}
	.options{
		display:inline-block;
		width:50px;
	}
	.options .menu{
		position: relative;
	}
	.options .menu .sub-menu{
		right: 0;
		position: absolute;
		width: 150px;
		background-color: #0176c0;
		padding: 5px 10px; 
		display:none;
	}
	.options .menu .sub-menu li{
		position: relative;
		border-bottom: solid 1px white;
	}
	.options .menu .sub-menu li:last-child{
		border-bottom: 0;
		margin-top:1px;
	}
	.options .menu li a{
		background:#0176c0;
		line-height: 20px;
		display: inline-block;
		color: white;
		float: none;
	}
}
@media screen and (max-width: 680px) {
    body {
        padding: 0 1px;
    }

    .logo {
        display: none;
    }

    .adverti {
        width: 100%;
    }
}
@media screen and (max-width: 430px) {
    #welcome {
        display: none;
    }
}
