﻿@model dacs.Models.POST

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<div>
    <h4>POST</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Post_Type.P_TypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Post_Type.P_TypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WARD.DIST_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WARD.DIST_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.POST_TITLE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.POST_TITLE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.POST_CONTENT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.POST_CONTENT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.POST_VIEW_TIMES)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.POST_VIEW_TIMES)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.POST_STATUS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.POST_STATUS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.posted_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.posted_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PLACE_ADDRESS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PLACE_ADDRESS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PL_size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PL_size)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.POST_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

