﻿@model IEnumerable<dacs.Models.POST>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Admin.cshtml";
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Post_Type.P_TypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WARD.WARD_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.POST_TITLE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.POST_CONTENT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.POST_VIEW_TIMES)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.POST_STATUS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.posted_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PLACE_ADDRESS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PL_size)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Post_Type.P_TypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WARD.WARD_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.POST_TITLE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.POST_CONTENT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.POST_VIEW_TIMES)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.POST_STATUS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.posted_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PLACE_ADDRESS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PL_size)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.POST_ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.POST_ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.POST_ID })
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" onclick="openmodal()">
                    Open modal
                </button>
            </td>
        </tr>
    }

</table>
<style>
    .modal-content {
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.5);
    width: 900px;
}
</style>
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Modal Heading</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div>
                @*@Html.Partial("view")*@
                <div id="partialView">
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
<script type="text/javascript">

    function openmodal() {
        $("#partialView").load('@Url.Content("/Post_image/index")');
    };
</script> 