﻿
@model IEnumerable<dacs.Models.Post_Image>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.POST.POST_TITLE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.P_ImageContent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.P_ImageIndex)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.POST.POST_TITLE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.P_ImageContent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.P_ImageIndex)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.P_ImageID }) |
                @Html.ActionLink("Details", "Details", new { id = item.P_ImageID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.P_ImageID })


                <!-- The Modal -->

            </td>
        </tr>
    }

</table>


