﻿
@{
    ViewBag.Title = "Cho thuê phòng trọ giá rẻ";
    Layout = "~/Views/Shared/_LayoutPost.cshtml";
}
<div id="main">
    <div id="container-room">
        <div class="link-trang">
            <a href="/"> Trang chủ</a>
            <a href="#"> Phòng trọ @Model.WARD.DISTRICT.PROVINCE_CITY.PC_NAME</a>
            <a href="#"> Phòng trọ @Model.WARD.DISTRICT.DIST_NAME</a>
        </div>
        <div class="breadcrumbs_wrapper">
            <div class="container">
                <h1 class="page-title">@Model.POST_TITLE</h1>
            </div>
        </div>
        <div class="page_body">
            <div class="clearfix" style="margin:0 auto">
                <div class="left">
                    <div class="post-detail">
                        <div class="view-detail">
                            <div class="block-content-1 clearfix">
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <td class="name">Địa chỉ</td>
                                            <td colspan="3">@Model.PLACE_ADDRESS, @Model.WARD.WARD_NAME, @Model.WARD.DISTRICT.DIST_NAME, @Model.WARD.DISTRICT.PROVINCE_CITY.PC_NAME</td>
                                        </tr>
                                        <tr>
                                            <td class="name">Mã tin</td>
                                            <td>@Model.POST_ID</td>
                                            <td class="name">Loại:</td>
                                            <td>@Model.Post_Type.P_TypeName</td>
                                        </tr>
                                        <tr>
                                            <td class="name">Giá cho thuê:</td>
                                            <td>
                                                <span class="price">@(String.Format("{0:0,0 VNĐ/tháng}", @Model.price))</span>
                                            </td>
                                            <td class="name">Diện tích:</td>
                                            <td>
                                                <span class="price">@Model.PL_size m²</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div id="motachitiet" class="block-content-2">
                                <span class="headline">Thông tin mô tả</span>
                                <p>
                                    @Html.Raw(@Model.POST_CONTENT)
                                </p>
                            </div>
                            
                            @if (Model.Post_Image.Count>0)
                            {
                                <div id="hinhanh" class="block-photo">
                                    <div class="title">Hình ảnh</div>
                                    <div id="slider" class="slider">
                                        <div class="flex-viewport">
                                            <ul class="slides" id="list-img">
                                                @for(int i=0;i<Model.Post_Image.Count;i++)
                                                {
                                                    <li id="@(i+1)">
                                                        <img class="item_image" src="data:image/png;base64,@(Convert.ToBase64String(Model.Post_Image[i].P_ImageContent))" draggable="false">
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                        <ol class="flex-control-nav" id="flex-control-nav">
                                            @for (int i = 1; i <= Model.Post_Image.Count; i++)
                                            {
                                                if (i == 1)
                                                {
                                                    <li>
                                                        <a href="#" class="flex-active" id="num-@i" onclick="return thay(@i)">@i</a>
                                                    </li>
                                                }
                                                else
                                                {
                                                    <li>
                                                        <a href="#" id="num-@i" onclick="return thay(@i)">@i</a>
                                                    </li>
                                                }

                                            }
                                        </ol>
                                        <ul class="flex-direction-nav">
                                            @if (Model.Post_Image.Count > 1)
                                            {
                                                <li class="flex-nav-prev">
                                                    <a class="flex-buttom" id="prev" href="#" tabindex="-1"><</a>
                                                </li>
                                                <li class="flex-nav-next">
                                                    <a class="flex-buttom" id="next">></a>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            }
                            <p>&nbsp;</p>
                            <div class="alert">
                                <p>
                                    Mọi thông tin trên website chỉ mang tính chất tham khảo.
                                    Chúng tôi luôn cố gắng cung cấp các thông tin đầy đủ, chính xác và minh bạch đến người xem, tuy nhiên quá trình kiểm duyệt vẫn có thể xảy ra sơ sót. Nếu có sơ sót mong bạn thông cảm.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section footer{

    <script LANGUAGE="JavaScript">
			    var stt=1;
			    var next = document.getElementById("next");
			    var prev = document.getElementById("prev");
			    var ul = document.getElementById('list-img');
			    var li_img = ul.getElementsByTagName("li");
			    var ol = document.getElementById("flex-control-nav").getElementsByTagName("a");
			    var first = li_img[0].getAttribute("id");
			    var last = li_img[li_img.length - 1].getAttribute("id");
			    if (next != null) {
			        next.onclick = function () {
			            document.getElementById(stt).style.display = 'none';
			            document.getElementById("num-" + stt).className = "";
			            if (stt == last)
			                stt = 0;
			            stt++;
			            document.getElementById(stt).style.display = 'block';
			            document.getElementById("num-" + stt).className = "flex-active";
			            return false;
			        };
			    }
			    if (prev != null) {
			        prev.onclick = function () {
			            document.getElementById(stt).style.display = 'none';
			            document.getElementById("num-" + stt).className = "";
			            if (stt == first)
			                stt = parseInt(last) + 1;
			            stt--;
			            document.getElementById(stt).style.display = 'block';
			            document.getElementById("num-" + stt).className = "flex-active";
			            return false;
			        };
			    }
			    
			    function thay(ind){
				    document.getElementById(stt).style.display='none';
				    document.getElementById("num-"+stt).className ="";
				    stt=ind;
				    document.getElementById("num-"+stt).className ="flex-active";
				    document.getElementById(stt).style.display='block';
				    return false;
			    }

    </script>
}

