﻿
@{
    ViewBag.Title = "Website Tìm kiếm phòng trọ";
    Layout = "~/Views/Shared/_Layoutindex.cshtml";
}
@section footer{

}
<div id="container-room">
    <div class="link-trang">
        <a href="/"> Trang chủ</a>
    </div>
    <div class="" style="margin-top:10px;font-size:18px;text-align:center;"><strong>Danh sách tin nổi bật</strong></div>
    <ul class="lsrentroom">
        @foreach (var item in Model)
        {
            <li class="post clearfix">
                @if (item.Post_Image.Count > 0)
                {
                    <div class="post-ava" style="background-image: url(data:image/png;base64,@(Convert.ToBase64String(item.Post_Image[0].P_ImageContent)))">
                        <a class="post-link" href="#" alt="@item.POST_TITLE" title="@item.POST_TITLE"></a>
                    </div>
                }
                else
                {
                    <div class="post-ava">
                        <a class="post-link" href="#" alt="@item.POST_TITLE" title="@item.POST_TITLE"></a>
                    </div>
                }
                <div class="post-info clearfix">
                    <div class="title">
                        <a class="post-link" style="color:#3763e0;" href="/Bai-dang/@(item.POST_TITLE.Replace(' ','-'))-@item.POST_ID" alt="@item.POST_TITLE"> @item.POST_TITLE </a>
                    </div>
                    <div class="price">
                        <strong>@(String.Format("{0:0,0 VNĐ/tháng}", @item.price))</strong>
                    </div>
                    <div class="clearfix">
                        <div class="acreage">
                            <span class="name">Diện tích:</span>
                            <span class="value">@item.PL_size m²</span>
                        </div>
                        <time class="time">
                            <span class="name">Ngày đăng:</span>
                            @if ((DateTime.Now.Date - @item.posted_date.Date).Days == 0)
                            {
                                <span class="value">Hôm nay</span>
                            }
                            else
                            {
                                <span class="value">@item.posted_date.Date.ToString("dd/MM/yyyy")</span>
                            }
                        </time>

                    </div>
                    <p class="p_content" style="margin-bottom:8px">Địa chỉ: @item.PLACE_ADDRESS, @item.WARD.WARD_NAME, @item.WARD.DISTRICT.DIST_NAME, @item.WARD.DISTRICT.PROVINCE_CITY.PC_NAME</p>
                    <div class="view-num">
                        <strong>Lượt xem: @item.POST_VIEW_TIMES lượt</strong>
                    </div>
                </div>
                <div class="clear"></div>
            </li>
        }

    </ul>
    <div class="center">
        <div class="pagination">
            @for (int i = 0; i < Model.PageCount; i++)
            {
                if ((i + 1) == (Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber))
                {
                    <a href="@Url.Action("TrangChu",new { page=i})" class="active">@(i + 1)</a>
                }
                else
                {
                    <a href="@Url.Action("TrangChu",new { page=(i+1)})">@(i + 1)</a>
                }
            }
        </div>
    </div>
</div>
