﻿@model dacs.Models.WARD

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>WARD</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DISTRICT.PC_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DISTRICT.PC_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WARD_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WARD_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WARD_TYPE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WARD_TYPE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.WARD_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
