﻿@model IEnumerable<dacs.Models.WARD>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DISTRICT.PC_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WARD_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WARD_TYPE)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DISTRICT.PC_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WARD_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WARD_TYPE)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.WARD_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.WARD_ID })
        </td>
    </tr>
}

</table>
