﻿@model dacs.Models.Post_Type

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Post_Type</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.P_TypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.P_TypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.P_Desciption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.P_Desciption)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.P_TypeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
