﻿@model IEnumerable<dacs.Models.Post_Type>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.P_TypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.P_Desciption)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.P_TypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.P_Desciption)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.P_TypeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.P_TypeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.P_TypeID })
        </td>
    </tr>
}

</table>
