﻿
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
}

<div id="main">
    <div id="container-room">
        <div class="link-trang">
            <a href="/">Trang chủ</a>
            <a href="#"> Đăng nhập</a>
        </div>
        <div class="content_body">
            <div class="content_header">
                <h1 class="content_title">ĐĂNG NHẬP</h1>
            </div>
            <div class="clearfix form">
                <div class="left">
                    <div class="form_wrapper">
                        <form class="clearfix" id="form-login" method="POST" style="margin-bottom:0">
                            @if (@ViewBag.error != null)
                            {
                                <div id="eroor" style="display:block">
                                    <strong>Có lỗi xảy ra: </strong>
                                    @ViewBag.error
                                </div>
                            }
                            else
                            {
                                <div id="eroor">
                                    <strong>Có lỗi xảy ra: </strong>
                                    Tên đăng nhập hoặc mật khẩu không đúng!
                                </div>
                            }
                            <div class="form-group form-group-username">
                                <div class="title">Tên tài khoản:</div>
                                <input id="Username" placeholder="" minlength="4" maxlength="18" pattern="^[a-zA-Z0-9_.-]*$" title="Tên tài khoản có chứa kí tự đặc biệt" required name="username" value="@ViewBag.username">
                            </div>
                            <div class="form-group form-group-password">
                                <div class="title">Mật khẩu:</div>
                                <input type="password" class="form-control" id="password" required placeholder="" name="password">
                            </div>
                            <div class="btn_wrapper">
                                <button type="submit" name="wp-submit-login" class="btn btn_submit">
                                    Đăng nhập
                                </button>
                            </div>
                            <div class="form-group">
                                <a class="forgot-password-link" href="/quen-mat-khau">Bạn quên mật khẩu?</a>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="middle" style="width: 500px;margin:0 auto;display:flex;justify-content: center;display:none">
                    <div class="text" style="">
                        <span style="background: #fff;display: flex;align-items: center;justify-content: center;border: 1px solid #aaa;padding: 0;border-radius: 50%;width: 40px;height: 40px;">Hoặc</span>
                    </div>
                </div>
                <div class="right">
                    <div class="social-connect-container" style="width:500px;margin:20px auto;display:none;background: #dd4b39;line-height:30px;border-radius:2px;text-align:center">
                        <a href="" style="text-decoration:none">
                            <div class="gplus-text social-text">
                                <i class="fa fa-google-plus" aria-hidden="true"></i>
                                <span style="font-size: 14px;color: #fff;">Đăng nhập bằng Google+</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="page_content_bottom">
                <div class="register_recommend">
                    <p>
                        Bạn chưa có tài khoản?
                        <a href="/dang-ky-tai-khoan" style="text-decoration:none;color:#055699;font-weight:500">Đăng ký ngay</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

