﻿
@{
    ViewBag.Title = "Đăng ký";
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
}

<div id="main">
    <div id="container-room">
        <div class="link-trang">
            <a href="/">Trang chủ</a>
            <a href="#">Đăng ký</a>
        </div>
        <div class="content_body">
            <div class="content_header">
                <h1 class="content_title">ĐĂNG KÝ</h1>
            </div>
            <div class="clearfix form">
                <div class="left">
                    <div class="form_wrapper">                       
                        <form class="clearfix" id="form-register"  method="post" style="display:block">
                            @if (@ViewBag.error != null)
                            {
                                <div id="eroor" style="display:block">
                                    <strong>Có lỗi xảy ra: </strong>
                                    @ViewBag.error
                                </div>
                            }
                            else
                            {
                                <div id="eroor">
                                    <strong>Có lỗi xảy ra: </strong>
                                    Tên đăng nhập hoặc mật khẩu không đúng!
                                </div>
                            }
                            <div class="form-group">
                                <div class="title">Họ và Tên <span style="color:red">*</span></div>
                                <input id="Displayname" type="text" placeholder="" minlength="4" name="Displayname" required>
                            </div>
                            <div class="form-group">
                                <div class="title">Tên tài khoản <span style="color:red">*</span></div>
                                <input type="text" id="Username" placeholder="" minlength="4" maxlength="18" pattern="^[a-zA-Z0-9_.-]*$" title="Tên tài khoản có chứa kí tự đặc biệt" name="username" required>
                            </div>
                            <div class="form-group">
                                <div class="title">Mật khẩu <span style="color:red">*</span></div>
                                <input id="password" type="password" minlength="4" name="password" required>
                            </div>
                            <div class="form-group">
                                <div class="title">Xác nhận <span style="color:red">*</span></div>
                                <input id="confirm-password" type="password" minlength="4" placeholder="Xác nhận mật khẩu" name="confirm-password" required>
                            </div>
                            <div class="form-group">
                                <div class="title">Email <span style="color:red">*</span></div>
                                <input id="email" type="email" placeholder="" name="email" required>
                            </div>
                            <div class="form-group" style="display:none;">
                                <div class="title">Image <span style="color:red"></span></div>
                                <input type="text" value="khong" placeholder="" id="image" name="image" required>
                            </div>
                            <div class="form-group">
                                <div class="title">Số điện thoại:</div>
                                <input id="phone" type="tel" pattern="[0-9]{10}" placeholder="" name="phone" required>
                            </div>
                            <div class="btn_wrapper">
                                <button name="submit-reg" class="btn btn_submit" type="submit">
                                    Đăng ký tài khoản
                                </button>
                            </div>
                            <div class="form-group register_gg">
                                <a href="#" class="sc-google">
                                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                                    <span>Đăng ký bằng Google+</span>
                                </a>
                            </div>
                            <p>Bấm đăng ký tức là bạn đã đồng ý với <a href="#" target="_blank">quy định sử dụng</a> của chúng tôi</p>
                        </form>
                        <p class="return-login">Bạn đã có tài khoản? <a href="/dang-nhap-tai-khoan"><b>Đăng nhập ngay</b></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section footer{
    <script src="~/Scripts/UserUI/Register.js"></script>
}

