﻿@model dacs.Models.POST
@{
    ViewBag.Title = "Them";
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
}
@section header{
    <link href="~/Content/UserUI/formpost.css" rel="stylesheet" />
}
<div class="container_form">
    <form id="form-them" method="POST">
        <div class="row">
            <div class="col-25">
                <label for="fname">Tiêu đề:</label>
            </div>
            <div class="col-75">
                <input type="text" id="POST_TITLE" name="POST_TITLE" placeholder="">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="subject">Mô tả</label>
            </div>
            <div class="col-75">
                <textarea id="POST_CONTENT" name="POST_CONTENT" placeholder="Mô tả" style="height:200px"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="country">Tỉnh/Thành phố</label>
            </div>
            <div class="col-75">
                <select id="search_city" name="search_city">
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="country">Quận/huyện</label>
            </div>
            <div class="col-75">
                <select id="district" name="district">
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="country">Phường/Xã</label>
            </div>
            <div class="col-75">
                <select id="ward" name="ward">
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="fname">Địa chỉ:</label>
            </div>
            <div class="col-75">
                <input type="text" id="PLACE_ADDRESS" name="PLACE_ADDRESS" placeholder="">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="country">Loại phòng:</label>
            </div>
            <div class="col-75">
                <select id="loai" name="loai">
                    @foreach (var item in ViewBag.P_TypeID)
                    {
                        <option value="@item.P_TypeID">@item.P_TypeName</option>
                    }
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="fname">Giá:</label>
            </div>
            <div class="col-75">
                <input type="number" id="price" name="price" placeholder="">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="fname">Diện tích:</label>
            </div>
            <div class="col-75">
                <input type="number" id="PL_size" name="PL_size" placeholder="">
            </div>
        </div>
        <div class="row">
            <input type="submit" value="Submit">
        </div>
    </form>
</div>
@section footer{
<script src="~/Scripts/UserUI/loaddiswar.js"></script>
}

