﻿@model dacs.Models.PROVINCE_CITY

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PROVINCE_CITY</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PC_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PC_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PC_TYPE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PC_TYPE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PC_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
