﻿<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta id="myViewport" name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/UserUI/post.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @RenderSection("header", false)
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/UserUI/menu-account.js"></script>
</head>
<body>
    <div id="navbarTop">
        <div class="clear"></div>
    </div>
    <div id="welcome">
        <div class="logo">
            <img src="~/Images/logo.png" alt="Phòng trọ online" height="100%" width="100%"></img>
        </div>
        <div class="adverti">
            <img src="https://bandon.vn/uploads/logo-ngang-1000x400.jpg" alt="Thông tin quảng cáo" height="100%" width="100%"></img>
        </div>
    </div>
    @RenderBody()
    <footer>
        <div id="footer">
            <div class="container">
                <div class="footer-info">
                    <div class="w980">
                        <p class="footer-title">
                            <strong>THÔNG TIN TRANG WEB</strong>
                        </p>
                        <p>
                            <strong>Tổng đài CSKH: 0999.990.999</strong>
                        </p>
                        <p>Copyright ©2019 timphongtroonline.com</p>
                        <p>Email: cskh.timphongtroonline@gmail.com | lienhe.timphongtroonline@gmail.com</p>
                        <p>Địa chỉ:  Quận 2, Tp. Hồ Chí Minh.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    @RenderSection("footer", false)
    <script src="~/Scripts/UserUI/menu_login.js"></script>
</body>
</html>
