﻿

<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="~/Content/UserUI/indexhome.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/UserUI/menu-account.js"></script>
    @RenderSection("header", false)
</head>
<body>
    <div id="navbarTop">
        @if (Session["User"] != null)
        {
            var user = Session["User"] as dacs.Models.ADMIN;
            <div class="dropdown" style="float:right;" id="dropdown">
                <div class="dropbtn">Xin chào: @user.ADMIN_FULL_NAME <i class="fa fa-unsorted"></i></div>
                <div class="dropdown-content" id="dropdown-content">
                    <a href="/">Trang chủ</a>
                    <a href="/doi-mat-khau">Đổi mật khẩu</a>
                    <a href="/dang-tin-moi">Đăng tin mới</a>
                    <a href="/userPost/logout">Đăng xuất</a>
                </div>
            </div>
        }
        else
        {
            <div class="user">
                <a rel="nofollow" class="link" href="/dang-nhap-tai-khoan">Đăng nhập</a>
                <a rel="nofollow" class="link" href="/dang-ky-tai-khoan"> Đăng ký</a>
                <a rel="nofollow" class="link" href="/dang-tin-moi"> Đăng tin mới</a>
            </div>
            <div class="options" id="options" onclick="menu()">
                <img src="https://image.flaticon.com/icons/png/128/118/118756.png" width="100%" height="100%">
                <div class="menu">
                    <ul class="sub-menu" id="sub-menu">
                        <li>
                            <a class="links" href="/dang-nhap-tai-khoan">Đăng nhập</a>
                        </li>
                        <li>
                            <a class="links" href="/dang-ky-tai-khoan"> Đăng ký</a>
                        </li>
                        <li>
                            <a class="links" href="/dang-tin-moi"> Đăng tin mới</a>
                        </li>
                    </ul>
                </div>
            </div>
        }
        <div class="clear"></div>
    </div>
    <div id="welcome">
        <div class="logo">
            <img src="~/Images/logo.png" alt="Phòng trọ online" height="100%" width="100%"></img>
        </div>
        <div class="adverti">
            <img src="https://bandon.vn/uploads/logo-ngang-1000x400.jpg" alt="Thông tin quảng cáo" height="100%" width="100%"></img>
        </div>
    </div>
    <div id="main">
        <div id="searchbar">
            <div class="container">
                <form id="searchformTop" novalidate="novalidate" action="/UserUI/FindPost" method="post">
                    <div class="search_field">
                        <div class="clearfix">
                            <div class="search_field_item">
                                <label class="search_field_item_label">Địa chỉ</label>
                                <input name="duong" class="select-option" placeholder="Nhập địa chỉ cần tìm">
                            </div>
                            <div class="search_field_item">
                                <label class="search_field_item_label">Tỉnh thành phố</label>
                                <select id="search_city" class="select-option" name="tinh"></select>
                            </div>
                            <div class="search_field_item">
                                <label class="search_field_item_label">Quận huyện</label>
                                <select id="district" class="select-option" name="quan">
                                    <option value="0">-- Chọn quận/ huyện --</option>
                                </select>
                            </div>
                            <div class="search_field_item">
                                <label class="search_field_item_label">&nbsp;</label>
                                <button type="submit" class="btn_search_box"> Tìm kiếm </button>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div>
        @RenderBody()
    </div>
    <footer>
        <div id="footer">
            <div class="container">
                <div class="footer-info">
                    <div class="w980">
                        <p class="footer-title">
                            <strong>THÔNG TIN TRANG WEB</strong>
                        </p>
                        <p>
                            <strong>Tổng đài CSKH: 0999.990.999</strong>
                        </p>
                        <p>Copyright ©2019 timphongtroonline.com</p>
                        <p>Email: cskh.timphongtroonline@gmail.com | lienhe.timphongtroonline@gmail.com</p>
                        <p>Địa chỉ:  Quận 2, Tp. Hồ Chí Minh.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    @RenderSection("footer", false)
    <script src="~/Scripts/UserUI/menu_login.js"></script>
    <script src="~/Scripts/UserUI/loaddiswar.js"></script>
</body>
</html>
