﻿<!--<a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>-->
<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>@ViewData["Title"]</title>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <link rel="shortcut icon" type="image/icon" href="~/images/logo.ico" />
    @RenderSection("Header", required: false)
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a asp-action="Index" asp-controller="Home" class="nav-link">Trang chủ</a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="#" class="nav-link">Liên hệ</a>
                </li>
            </ul>
            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Messages Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#" style="background-color:#63B8FF;">
                        <i class="fa fa-cog"></i> Tùy chọn
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <!-- Message Start -->
                        <div>
                            <a asp-action="Index" asp-controller="Home" class="dropdown-item dropdown-footer">Trang chủ</a>
                        </div>
                        <!-- Message End -->
                        <div>
                            <a asp-action="ChangePass" asp-controller="Admin" class="dropdown-item dropdown-footer">Đổi mật khẩu</a>
                        </div>
                        <a asp-action="Login" asp-controller="Login" class="dropdown-item dropdown-footer text-white" style="background-color:#63B8FF;">Đăng xuất</a>

                    </div>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4" style="color:#7C7D7D;">
            <!-- Brand Logo -->
            <a asp-action="Index" asp-controller="Home" class="brand-link text-light" style="background-color:#7C7D7D;">
                <img src="~/images/logo.png" alt="Trang chủ Logo" class="brand-image img-circle elevation-3"
                     style="opacity: .8">
                <span class="brand-text text-light"><strong>Ứng dụng Tìm P.trọ</strong></span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                        with font-awesome or any other icon font library -->
                        <li class="nav-item has-treeview menu-open">
                            <a href="~/POSTs/Index" style="background-color:#FC5677;">
                                <i class="nav-icon far fa-user"></i>
                                <p>
                                    Người quản trị
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                        </li>
                        <li class="nav-item has-treeview menu-open">
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a asp-action="Index" asp-controller="Posts" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Bài đăng </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-action="Index" asp-controller="Post_Type" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Loại bài đăng</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a asp-action="Index" asp-controller="Users" class="nav-link bg-warning">
                                <i class="fas fa-user nav-icon"></i>
                                <p style="color:white;">Nhóm người dùng</p>
                            </a>
                        </li>

                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link" style="background-color:lightseagreen;">
                                <i class="nav-icon far fa-envelope"></i>
                                <p>
                                    Vị trí, địa lý
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a asp-action="Index" asp-controller="ProvinceCitys" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Tỉnh, thành phố</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-action="Index" asp-controller="districts" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Huyện</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-action="Index" asp-controller="Wards" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Khu vực</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            @RenderBody()
        </div><!-- /.container-fluid -->
    </div> <!-- /.content-wrapper -->
    <!-- Main Footer -->
    <footer class="main-footer" style="margin:0px;">
        <!-- To the right -->
        <div class="float-right d-none d-sm-inline">
            Anything you want
        </div>
        <!-- Default to the left -->
        <strong>Copyright &copy; 2014-2019 <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.
    </footer>
    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <!-- Bootstrap 4 -->
   
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- DataTables -->
    <script src="~/plugins/datatables/jquery.dataTables.js"></script>
    <script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/dist/js/demo.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>

