﻿
@model dacs.Models.Post_Image


<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Post_Image</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.POST.POST_TITLE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.POST.POST_TITLE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.P_ImageContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.P_ImageContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.P_ImageIndex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.P_ImageIndex)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
