﻿@model dacs.Models.Post_Image

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Post_Image</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.POST.POST_TITLE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.POST.POST_TITLE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.P_ImageContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.P_ImageContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.P_ImageIndex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.P_ImageIndex)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.P_ImageID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
