﻿
@model IEnumerable<dacs.Models.Post_Image>

<button onclick="open_create()"> create new </button>
<div id="partialView">
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.POST.POST_TITLE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.P_ImageContent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.P_ImageIndex)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.POST.POST_TITLE)
            </td>
            <td>
                <img class="item_image" src="data:image/png;base64,@(Convert.ToBase64String(item.P_ImageContent))" draggable="false" width="150px" height="150px">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.P_ImageIndex)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.P_ImageID }) |
                @Html.ActionLink("Details", "Details", new { id = item.P_ImageID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.P_ImageID })


                <!-- The Modal -->

            </td>
        </tr>
    }

</table>
<script type="text/javascript">
    function open_create() {
        $("#partialView").load('@Url.Content("/Post_image/create")');
    };

</script>

