﻿@model dacs.Models.ADMIN

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ADMIN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ADMIN_LOGIN_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ADMIN_LOGIN_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ADMIN_PASSWORD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ADMIN_PASSWORD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ADMIN_FULL_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ADMIN_FULL_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ADMIN_PHONE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ADMIN_PHONE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ADMIN_EMAIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ADMIN_EMAIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ADMIN_IMAGE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ADMIN_IMAGE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ADMIN_STATUS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ADMIN_STATUS)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
