﻿@model dacs.Models.ADMIN

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ADMIN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ADMIN_LOGIN_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ADMIN_LOGIN_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ADMIN_PASSWORD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ADMIN_PASSWORD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ADMIN_FULL_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ADMIN_FULL_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ADMIN_PHONE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ADMIN_PHONE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ADMIN_EMAIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ADMIN_EMAIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ADMIN_IMAGE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ADMIN_IMAGE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ADMIN_STATUS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ADMIN_STATUS)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ADMIN_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
