﻿@model IEnumerable<dacs.Models.ADMIN>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ADMIN_LOGIN_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ADMIN_PASSWORD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ADMIN_FULL_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ADMIN_PHONE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ADMIN_EMAIL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ADMIN_IMAGE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ADMIN_STATUS)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ADMIN_LOGIN_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ADMIN_PASSWORD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ADMIN_FULL_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ADMIN_PHONE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ADMIN_EMAIL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ADMIN_IMAGE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ADMIN_STATUS)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ADMIN_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ADMIN_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ADMIN_ID })
        </td>
    </tr>
}

</table>
