﻿@model dacs.Models.DISTRICT

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DISTRICT</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PROVINCE_CITY.PC_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PROVINCE_CITY.PC_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIST_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIST_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIST_TYPE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIST_TYPE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DIST_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
